<div class="container mt-4">
  <div class="card">
    <img [src]="'assets/' + product.image" class="card-img-top" alt="{{ product.name }}" width="75px" height="300px">
    <div class="card-body">
      <h5 class="card-title">{{ product.name | titlecase }}</h5>
      <p class="card-text">
        <strong>Preço:</strong> 
        <span *ngIf="product.promotional; else normalPrice" class="text-danger">
          {{ product.promotionalValue | currency:'BRL' }}
        </span>
        <ng-template #normalPrice>
          {{ product.value | currency:'BRL' }}
        </ng-template>
        <br>
        <button class="btn btn-primary" (click)="backPage()">Retornar</button>
      </p>
    </div>
  </div>
</div>

