<div class="task-list">
    <h3>
        <ng-content></ng-content>
    </h3>

    <table class="table table-striped">
        <tbody>
            @for (item of todoList(); track item.id) {
                <tr>
                    <td>
                        <span>{{ item.nome }}</span>

                        @if (!item.finalizado && item.iniciado) {
                            <span class="task-list__finalizado" (click)="toggleItem($index, 'finalizar')"></span>
                        }

                        @if (!item.finalizado && !item.iniciado) {
                            <span class="task-list__iniciado" (click)="toggleItem($index, 'iniciar')"></span>
                        }

                        @if (item.finalizado && !item.iniciado) {
                            <span class="task-list__retroceder" (click)="toggleItem($index, 'retomar')"></span>
                        }

                        @if(!item.finalizado && item.iniciado){
                            <span class="task-list__retroceder" (click)="toggleItem($index, 'cancelar')"></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>