<p>bar works!</p>
<p>Bebidas: {{bebidas}}</p>
<p>Token by InjectionToken and useClass: {{tokenByInjectionToken}}</p>
<p>Token by Inject with string id and useClass: {{tokenByString}}</p>
<p>Token by Inject with useFactory: {{tokenByUseFactoryInjection}}</p>
<p>Token by Inject with useExisting: {{tokenByUseFactoryInjection}}</p>
<p>Bebidas by useExisting: {{bebidasByUseExisting}}</p>


<h2>Progress: {{progress}}%</h2>
@if(progress >= 100){
    <p>Done processing {{label}} of Angular zone!</p>
}
<button (click)="processWithinAngularZone()">Process within Angular zone</button>
<button (click)="processOutsideOfAngularZone()">Process outside of Angular zone</button>