<div class="task-list">
    <h3>
        <ng-content></ng-content>
    </h3>

    <table class="table table-striped">
        <tbody>
            @for (item of todoList(); track item.id) {
                <tr>
                    <td>
                        <span>{{ item.nome }}</span>

                        @if (!item.finalizado && item.iniciado) {
                            <span class="task-list__finalizado"></span>
                        }

                        @if (!item.finalizado && !item.iniciado) {
                            <span class="task-list__iniciado"></span>
                        }

                        @if ((item.finalizado && !item.iniciado) || (!item.finalizado && item.iniciado)) {
                            <span class="task-list__retroceder"></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>