<div class="container main-container">
    <h1>Cadastro</h1>
  
    <form novalidate (ngSubmit)="registrarUsuario()" [formGroup]="cadastroForm">
      <h4>Crie sua conta</h4>
      <hr />
  
      <div class="alert alert-danger" *ngIf="errors.length > 0">
        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input
          class="form-control"
          id="email"
          type="text"
          required
          placeholder="E-mail (requerido)"
          formControlName="email"
          [ngClass]="{ 'is-invalid': displayMessages['email'] }"
        />
        <div class="invalid-feedback d-block" *ngIf="displayMessages['email']">
          <span [innerHTML]="displayMessages['email']"></span>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input
          class="form-control"
          id="password"
          type="password"
          placeholder="Senha (requerido)"
          formControlName="password"
          [ngClass]="{ 'is-invalid': displayMessages['password'] }"
        />
        <div class="invalid-feedback d-block" *ngIf="displayMessages['password']">
          <span [innerHTML]="displayMessages['password']"></span>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirme a Senha</label>
        <input
          class="form-control"
          id="confirmPassword"
          type="password"
          placeholder="Confirme a Senha (requerido)"
          formControlName="confirmPassword"
          [ngClass]="{ 'is-invalid': displayMessages['confirmPassword'] }"
        />
        <div class="invalid-feedback d-block" *ngIf="displayMessages['confirmPassword']">
          <span [innerHTML]="displayMessages['confirmPassword']"></span>
        </div>
      </div>
  
      <div class="mb-3">
        <button
          class="btn btn-success"
          id="Registrar"
          [disabled]="!cadastroForm.valid"
          type="submit"
        >
          Registrar
        </button>
      </div>
    </form>
  </div>
  